<br>
URL of .gif: {{input value=gifUrl}}<br>
URL of music: {{input value=musicUrl}}<br>

{{#if isPlaying}}
	<button {{action "stopMus"}}>Stop!</button>
	<img src={{gifUrl}}>
{{else}}
	<button {{action "playMus" musicUrl}}>Play!</button>
{{/if}}
<br>
<br>
Mashup to Load: {{input value=load}}
<button {{action "load" load}}>Load Mashup</button>
<br>
<button {{action "generate"}}>Generate Mashup</button>
{{genMash}}
{{yield}}
